{% extends "base.html" %}
{% block title %}過去の日 | trending-digest{% endblock %}
{% block body_class %}narrow{% endblock %}
{% block main %}
<h1>過去の日</h1>
<p class="counts">このサイトで記録を始めた日から、毎朝の Trending を残しています。</p>
{% if days %}
<ul class="archive">
{% for d in days %}
  <li class="panel-lite">
    <a class="date" href="{{ root }}d/{{ d.date }}/">{{ d.date }}</a>
    <span class="counts">新着 {{ d.count_new }}件／継続 {{ d.count_continuing }}件</span>
    <span class="links">
      <a href="{{ root }}d/{{ d.date }}/">{{ period_name.daily }}</a>
      {% if d.has_weekly %}<a href="{{ root }}d/{{ d.date }}/weekly/">{{ period_name.weekly }}</a>{% endif %}
      {% if d.has_monthly %}<a href="{{ root }}d/{{ d.date }}/monthly/">{{ period_name.monthly }}</a>{% endif %}
    </span>
  </li>
{% endfor %}
</ul>
{% else %}
<p>まだデータがありません。</p>
{% endif %}
{% endblock %}
